body {
  padding: 20px;
  background-color: rgba(51, 47, 50, 0.938);
  line-height: 1.5;
  font-family: sans;
  color: rgb(0, 0, 0);
}

#search-form {
  height: 30px;
  width: 460px;
  text-align: center;
  font-family: monospace;
  line-height: 2;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

img {
  display: block;
  width: 250px;
  height: 150px;
  text-align: center;
  align-items: center;
}

.stats {
  color: aliceblue;
}
// .box {
//   visibility: hidden;
// }

.is-hidden {
  display: none;
}

// .button {
//   display: block;
// }
